.card{
    margin-top: 10%;
    margin-left: 27.5%;
    width: 600px;
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.card-F {
    width: 28%;
}

.card-F img{
    width: 8em;
    margin-left: 20%;
}

.card-F p{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 40%;
    color: white;
    font-family:"Montserrat Text";
}


@media screen and (max-width: 900px) {
    .card{
        width: 95%;
        margin-top: 15%;
        margin-left: 2.5%;
    }

    .card-F img{
        width: 5em;
    }
}