.Mcard{
    padding: 0.5%;
    margin-top: 10%;
    margin-left: 27.5%;
    width: 600px;
    background: rgba(0,0,0,0.5);
    display: flex;
    color: white;
    border-radius: 5px;
    font-family:"Montserrat Text";
}

.card-F {
    display: flex;
    flex-direction: column;
    width: 28%;
}

.card-F img{
    width: 8em;
    margin-left: 20%;
}

.card-F p{
    
    text-align: center;
    margin-left: 40%;

}

.card-F h3{
    text-align: center;

}

.card-S {
    display: flex;
    flex-direction: column;
    width: 10px;
}

.card-S-type {
    display: flex;
    flex-direction: row;
}

.card-S-type li {
    margin-left: 25px;
}

.card-S-stats {
    display: flex;
    flex-direction: row;
}

.card-S-stats li {
    margin-left: 25px;
}



@media screen and (max-width: 900px) {
    .Mcard{
        width: 95%;
        margin-top: 15%;
        margin-left: 2.5%;
    }

    .card-F img{
        width: 5em;
    }

    .card-F h3{
        text-align: center;
        font-size: 18px;
    }

    .card-S-type li {
        font-size: 12px;
        margin-left: 20px;
    }

    .card-S-type h4 {
        font-size: 15px;
    }
}