.Mcard{
    padding: 0.5%;
    margin-top: 10%;
    margin-left: 27.5%;
    width: 600px;
    background: rgba(0,0,0,0.5);
    display: flex;
    color: white;
    border-radius: 5px;
    font-family:"Montserrat Text";
}

.card-F {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.card-F img{
    width: 8em;
    margin-left: 10%;
}

.card-F p{
    
    text-align: center;
    margin-left: 40%;

}

.card-F h3{
    text-align: center;

}

.card-S {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 1%;
}

.card-S-type {
    display: flex;
    flex-direction: row;
}

.card-S-type li {
    margin-left: 25px;
}

.card-S-stats {
    display: flex;
    flex-direction: row;
}

.card-S-stats p {
    margin-left: 25px;
    font-size: 11px;
}


.card-S-moves {
    display: flex;
    flex-direction: row;
}

.card-S-moves li {
    margin-left: 25px;
}



@media screen and (max-width: 900px) {
    .Mcard{
        width: 95%;
        margin-top: 15%;
        margin-left: 2.5%;
    }

    .card-F {
        width: 20%;
        margin-left: 1%;
    }

    .card-F img{
        width: 5em;
    }

    .card-F h3{
        text-align: center;
        font-size: 18px;
    }

    .card-S{
        padding-top: 3%;
        padding-left: 3%;
        margin-left: 2%;
    }

    .card-S-type  {

    }

    .card-S-type li {
        font-size: 12px;
        margin-left: 20px;
    }

    .card-S-type h4 {
        font-size: 15px;
    }


    

    .card-S-stats {
        overflow-x: visible;
        overflow-y: clip;
    }

    .card-S-stats h4 {
        font-size: 15px;
    }

    .card-S-stats p {
        font-size: 8px;
        margin-left: 10px;
    }

    .card-S-moves h4 {
        font-size: 15px;
    }

    .card-S-moves li {
        font-size: 12px;
        margin-left: 20px;
    }
    
}