@font-face {
  font-family: 'Montserrat Title';
  src: url('./font/Montserrat-Bold.ttf');
  /* Add additional src declarations for other formats if necessary */
}

@font-face {
  font-family: 'Montserrat Text';
  src: url('./font/Montserrat-Italic.ttf');
  /* Add additional src declarations for other formats if necessary */
}
body, html {
  margin: 0;
  padding: 0;
}

.nav{
  width: 90%;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  padding: 1%;
}

.nav-logo{
  width: 64px;
  height: 64px;
}

.nav-title{
  font-family:"Montserrat Title";
  font-weight: 700;
  font-size: 22px;
}

.nav-items{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  margin-left: 50px;
}

.nav-items div{
  margin: 20px;
  font-size: 20px ;
  font-family:"Montserrat Text";
}

.content{
  
  width: 100%; /* 100% of viewport width */
  height: 50vw; /* Adjust height as needed */
  

  background: linear-gradient(to top, red, rgb(255, 255, 255)); /* Linear gradient from red to yellow */
  box-sizing: border-box; /* Ensures border width is included in width calculation */
}

/* For screens narrower than 600px */
@media screen and (max-width: 600px) {
  /* CSS rules here */
  .nav-logo{
    width: 40px;
    height: 40px;
  }
  .nav-title{
    font-size: 15px;
  }

  .nav-items{
    margin-left: 5%;
  }

  .nav-items div{
    margin: 10px;
    font-size: 70% ;
    
  }
  .content{
  
    height: 100vw; /* Adjust height as needed */
    
  }
}

